

.login-page-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #f5f7fa; */
}

.login-content {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.login-container {
  width: 300px;
  color: white;
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);

  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.3),
    0px 30px 60px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-header h1 {
  font-size: 2.2em;
}

.login-input {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
  padding-top: 40px;
}


.login-button {
  background: none;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 3px;
  padding: 5px 2em;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
 
}
.login-button:hover {
  background: white;
  color: dimgray;
  transition: 0.5s;
}
.sign-up-btn {
  margin-top: 20px;
}

#sign-in-btn {
  text-decoration: none;
  cursor: pointer;
}
.google-sign-in {
  background: #136a8a;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 3px;
  padding: 5px 2em;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.google-sign-in:hover {
  background: white;
  color: dimgray;
  transition: 0.5s;
}
 

.login-page-image {
  width: 50%;
}

