.homepage-header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}

.header {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.header-logo {
  cursor: pointer;
}

.header-items {
  width: 40%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

